body {
    background-color: #D9B49C;
    height: 100vh;
}

table {
    width: 90%;
    height: 90%;
    background-color: #91542E;
    border-radius: 15px;
}

th {
    color: white;
    font-size: 2rem;
    background-color: #CA6E33;
    padding: .7rem 0;
    width: 23%;
    border-radius: 10px;
}

tr {
    padding: 1rem 1rem 0 1rem;
}

.data {
    height: 82.5%;
}

td {
    height: 100%;
    background-color: #F8F2E7;
    border-radius: 15px;
}

td {
    width: 23%;
}

.data > td {
    padding-top: .7rem;
}

.pedido {
    padding: .7rem;
    background-color: #DCDDDE;
    border-radius: 15px;
    width: 85%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: none; /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: start;
    width: 50%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.column {
    columns: 4;
}

textarea{
    resize: none;
}

.highlighted {
    font-weight: bold;
    cursor: pointer;
    color: rgb(24, 167, 185);
    text-decoration: none; /* Mostra o cursor como ponteiro ao passar o mouse */
}

li {
    font-weight: bold;
    text-decoration: underline;
}

.data {
    gap: 2rem;
    display: flex;
}
