{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="stylesheet" href="{% static "css/table.css" %}">
    <link rel="stylesheet" href="{% static "css/modal.css" %}">

    <title>Pedidos</title>

</head>
<body class="flex center vcenter">

    <!-- Tabela Pedidos -->
    <table>
        <!-- Titulos -->
        <tr class="titles flex space-between">
            <th>Pendente</th>
            <th>Em Preparo</th>
            <th>Pronto</th>
            <th>Entregue</th>
        </tr>
        <!-- Dados -->
        <tr class="data">
            <td class="flex">
                {% for order in orders %}
                    {% if order.status == "PENDENTE" %}
                        <div class="pedido pendente flex space-between vcenter column">
                            <div class="pedido-header flex space-between">
                                <div class="left column">
                                    <h2>#{{ order.id|slice:":3" }}</h2>
                                    <h4>Mesa {{ order.tableNumber }}</h4>
                                </div>
                                <div class="right column">
                                    <div class="timer-box flex vcenter">
                                        <img src="{% static 'src/timer.png' %}" alt="Timer-Icon">
                                        <p>{{order.timeDifference}}</p>
                                        <!-- Ajustar conforme necessário -->
                                    </div>
                                    <h4>{{ order.idClient|slice:":3" }}</h4> <!-- Filtrar os 3 primeiros dígitos -->
                                </div>
                            </div>
                            <div class="desc">
                                <div class="buttons flex space-evenly">
                                    <button class="desc-button" onclick="openModal()">Detalhes</button>
                                    <button class="delete-button">Delete</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </td>

            <td class="flex">
                {% for order in orders %}
                    {% if order.status == "EM_PREPARO" %}
                        <div class="pedido preparo flex space-between vcenter column">
                            <div class="pedido-header flex space-between">
                                <div class="left column">
                                    <h2>#{{ order.id|slice:":3" }}</h2>
                                    <h4>Mesa {{ order.tableNumber }}</h4>
                                </div>
                                <div class="right column">
                                    <div class="timer-box flex vcenter">
                                        <img src="{% static 'src/timer.png' %}" alt="Timer-Icon">
                                        <p>0h20min</p> <!-- Ajustar conforme necessário -->
                                    </div>
                                    <h4>{{ order.idClient|slice:":3" }}</h4> <!-- Filtrar os 3 primeiros dígitos -->
                                </div>
                            </div>
                            <div class="desc">
                                <div class="buttons flex space-evenly">
                                    <button class="desc-button" onclick="openModal()">Detalhes</button>
                                    <button class="delete-button">Delete</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </td>

            <td class="flex">
                {% for order in orders %}
                    {% if order.status == "PRONTO" %}
                        <div class="pedido pronto flex space-between vcenter column">
                            <div class="pedido-header flex space-between">
                                <div class="left column">
                                    <h2>#{{ order.id|slice:":3" }}</h2>
                                    <h4>Mesa {{ order.tableNumber }}</h4>
                                </div>
                                <div class="right column">
                                    <div class="timer-box flex vcenter">
                                        <img src="{% static 'src/timer.png' %}" alt="Timer-Icon">
                                        <p>0h20min</p> <!-- Ajustar conforme necessário -->
                                    </div>
                                    <h4>{{ order.idClient|slice:":3" }}</h4> <!-- Filtrar os 3 primeiros dígitos -->
                                </div>
                            </div>
                            <div class="desc">
                                <div class="buttons flex space-evenly">
                                    <button class="desc-button" onclick="openModal()">Detalhes</button>
                                    <button class="delete-button">Delete</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </td>

            <td class="flex">
                {% for order in orders %}
                    {% if order.status == "FECHADO" or order.status == "ENTREGUE" %}
                        <div class="pedido entregue flex space-between vcenter column">
                            <div class="pedido-header flex space-between">
                                <div class="left column">
                                    <h2>{{ order.idClient|slice:":3" }}</h2>
                                    <h4>Pedido</h4>
                                </div>
                                <div class="right column">
                                    <h2>#{{ order.id|slice:":3" }}</h2>
                                    <h4>#{{ order.id|slice:":8" }}</h4> <!-- Filtrar os 3 primeiros dígitos -->
                                </div>
                            </div>
                            <div class="desc">
                                <div class="buttons flex space-evenly">
                                    <button class="desc-button" onclick="openModal()">Detalhes</button>
                                    <button class="delete-button">Delete</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>

    </table>

    <!-- Modal -->
    <div class="modal-backdrop vcenter center" id="modalBackdrop">
        <div class="modal-box flex column space-between">

            <div class="modal-header flex space-between vcenter">
                <div class="mleft flex column">
                    <h1>Order #32</h1>
                    <p>ID: 285710482</p>
                </div>

                <div class="mright flex column">
                    <h1>Mesa: 05</h1>
                    <p>29 de Maio de 2024 ás 08:45 </p>
                </div>
            </div>

            <div class="modal-column flex space-between">
                <div class="modal-desc flex column space-between">
                    <table class="mtable">
                        <thead>
                            <tr class="flex space-between">
                                <th>Order</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="flex space-between">
                                <td>Batata Frita</td>
                                <td>02</td>
                                <td>06.99</td>
                                <td>13.98</td>
                            </tr>

                            <tr class="flex space-between">
                                <td>Batata Frita</td>
                                <td>02</td>
                                <td>06.99</td>
                                <td>13.98</td>
                            </tr>

                            <tr class="flex space-between">
                                <td>Batata Frita</td>
                                <td>02</td>
                                <td>06.99</td>
                                <td>13.98</td>
                            </tr>

                            <tr class="flex space-between">
                                <td>Batata Frita</td>
                                <td>02</td>
                                <td>06.99</td>
                                <td>13.98</td>
                            </tr>

                            <tr class="flex space-between">
                                <td>Batata Frita</td>
                                <td>02</td>
                                <td>06.99</td>
                                <td>13.98</td>
                            </tr>

                            <tr class="flex space-between">
                                <td>Batata Frita</td>
                                <td>02</td>
                                <td>06.99</td>
                                <td>13.98</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="total-box flex space-between">
                        <h1>Total</h1>
                        <h1>R$ 103.32</h1>
                    </div>
                </div>

                <div class="modal-status flex column">
                    <h3>Status</h3>

                    <div class="status flex column">

                        <div class="status-block flex space-evenly vcenter">
                            <img src="{% static "src/Waiting-Icon.png" %}" alt="">
                            <div class="status-desc">
                                <h5>Aguardando</h5>
                                <h6>29/06/2024 ás 14:40</h6>
                            </div>
                            <img src="{% static "src/Checked-Icon.png" %}" alt="">
                        </div>

                        <img src="{% static "src/GreenSegment-Line.png" %}" alt="">

                        <div class="status-block flex space-evenly vcenter">
                            <img src="{% static "src/Cooking-Icon.png" %}" alt="">
                            <div class="status-desc">
                                <h5>Cozinhando</h5>
                                <h6>--</h6>
                            </div>
                            <img src="{% static "src/phase-wait.png" %}" alt="">
                        </div>

                        <img src="{% static "src/Segment-Line.png" %}" alt="">

                        <div class="status-block flex space-evenly vcenter">
                            <img src="{% static "src/Serving-Icon.png" %}" alt="">
                            <div class="status-desc">
                                <h5>Concluido</h5>
                                <h6>---</h6>
                            </div>
                            <img src="{% static "src/phase-wait.png" %}" alt="">
                        </div>

                        <img src="{% static "src/Segment-Line.png" %}" alt="">

                        <div class="status-block flex space-evenly vcenter">
                            <img src="{% static "src/Delivered-Icon.png" %}" alt="">
                            <div class="status-desc">
                                <h5>Entregue</h5>
                                <h6>--</h6>
                            </div>
                            <img src="{% static "src/phase-wait.png" %}" alt="">
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-buttons flex space-between">
                <button onclick="closeModal()">Fechar</button>
                <button onclick="#" id="closeBtn">Avançar</button>
            </div>

        </div>
    </div>

    <!-- ModalFunc -->
    <script src="{% static "js/modalFunctions.js" %}"></script>

    <!-- TableFunc -->
    <script src="{% static "js/tableFunctions.js" %}"></script>
</body>
</html>
