{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static "css/global.css" %}">
    <link rel="stylesheet" href="{% static "css/table.css" %}">

    <title>Pedidos</title>

</head>
<body class="flex center vcenter">

    <!-- Tabela Pedidos -->
    <table>
        <!-- Titulos -->
        <tr class="titles flex space-between">
            <th>Pendente</th>
            <th>Em Preparo</th>
            <th>Pronto</th>
            <th>Entregue</th>
        </tr>
        <!-- Dados -->
        <tr class="data">
            <td class="flex center vstart">
                <div class="pedido pendente">
                    <div>
                        <h3>Mesa 04</h3>
                        <h4>Genivaldo</h4>
                    </div>
                    <button onclick="openModal()">Detalhes</button>
                    <button>Deletar</button>
                </div>
            </td>

            <td class="flex center vstart">
                <div class="pedido preparo">
                    <div>
                        <h3>Mesa 04</h3>
                        <h4>Genivaldo</h4>
                    </div>
                    <button onclick="openModal()">Detalhes</button>
                    <button>Deletar</button>
                </div>
            </td>

            <td class="flex center vstart">
                <div class="pedido pronto">
                    <div>
                        <h3>Mesa 04</h3>
                        <h4>Genivaldo</h4>
                    </div>
                    <button onclick="openModal()">Detalhes</button>
                    <button>Deletar</button>
                </div>
            </td>

            <td class="flex center vstart">
                <div class="pedido entregue">
                    <div>
                        <h3>Mesa 04</h3>
                        <h4>Genivaldo</h4>
                    </div>
                    <button onclick="openModal()">Detalhes</button>
                    <button>Deletar</button>
                </div>
            </td>
        </tr>

    </table>

    <!-- Modal -->
    <div class="modal-backdrop" id="modalBackdrop">
        <div class="modal-content">

            <div>
                <h3>Pratos</h3>
                <ul class="column">
                    <li id="trocarTexto" onmouseover="trocarTexto(true)" onmouseout="trocarTexto(false)">Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                    <li>Nome Prato</li>
                </ul>
            </div>

            <div class="desc-column">
                <textarea placeholder="Observação" name="Observacao" id="obs" cols="20" rows="3"></textarea>
                <textarea placeholder="Complementos" name="Complementos" id="comp" cols="20" rows="3"></textarea>
            </div>



            <button onclick="closeModal()" style="align-self: start;">Fechar</button>
        </div>
    </div>

    <script>
        // Função para abrir o modal
        function openModal() {
            document.getElementById('modalBackdrop').style.display = 'flex';
        }

        // Função para fechar o modal
        function closeModal() {
            document.getElementById('modalBackdrop').style.display = 'none';
        }

        var textoOriginal = "";

        function trocarTexto(sobre) {
        // Seleciona o elemento pelo ID
        var elemento = document.getElementById('trocarTexto');

        // Verifica se estamos passando o mouse sobre o elemento
        if (sobre) {
            // Armazena o texto original apenas uma vez
            if (textoOriginal === "") {
                textoOriginal = elemento.innerHTML;
            }
            // Troca o texto para o novo texto
            elemento.innerHTML = "ID PRATO";
            elemento.classList.add('highlighted'); // Adiciona a classe de destaque
        } else {
            // Se não estiver mais sobre o elemento, restaura o texto original
            elemento.innerHTML = textoOriginal;
            elemento.classList.remove('highlighted'); // Remove a classe de destaque
        }
    }
    </script>
</body>
</html>
